trigger:
- main

pr:
- none

pool: DOE522_FA1_Agent

variables:
  TEAMS_WEBHOOK_URL: https://ctucareerco.webhook.office.com/webhookb2/6a90f95b-a10c-4d62-af46-3b0a4d0219cd@f5ea3467-a1df-4d7e-a894-9a0c66d9b19e/IncomingWebhook/97865309347c49ffac01de604a8fb396/18d59f42-3214-45a0-a2f2-116ed6904fc9

jobs:
- job: BuildTestDeploy
  steps:
  - checkout: self

  - script: |
      curl -sL https://deb.nodesource.com/setup_14.x | bash -
      apt-get install -y nodejs
    displayName: 'Install Node.js'

  - script: npm install
    displayName: 'Install dependencies'
    
  - script: npm run build
    displayName: 'Build'
    
  - script: npm test
    displayName: 'Run tests'
    
  - script: |
      chmod +x scripts/deploy.sh
      scripts/deploy.sh
    displayName: 'Grant execute permission to deploy.sh and deploy to staging'
    env:
      ENVIRONMENT: staging

  - script: |
      if "%JOB_STATUS%"=="Succeeded" (
        echo Build and deployment succeeded.
      ) else (
        echo Build or deployment failed. Status: %JOB_STATUS%
        curl -H "Content-Type: application/json" -d "{
          \"text\": \"Build or deployment failed. Status: '%JOB_STATUS%' \"
        }" %TEAMS_WEBHOOK_URL%
      )
    env:
      JOB_STATUS: $(Agent.JobStatus)
  displayName: 'Send Teams notification on failure'
